{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "@warp-dot-dev/opencode-warp",
    [
      "./plugins/omniroute/dist/index.js",
      {
        "providerId": "omniroute",
        "baseURL": "http://192.168.0.201:20128",
        "autoSyncIntervalMs": 0
      }
    ]
  ,
    "@openviking/opencode-plugin",
    "superpowers@git+https://github.com/obra/superpowers.git",
    "opencode-chrome-devtools@1.0.4"
  ],
  "default_agent": "plan",
  "model": "opencode-omniroute/opencode/deepseek-v4-flash",
  "autoupdate": false,

  "mcp": {
    "openviking": {
      "type": "local",
      "command": [
        "node",
        "{{ .chezmoi.homeDir }}/.openviking/opencode-mcp-proxy/openviking/servers/mcp-proxy.mjs"
      ],
      "enabled": true,
      "timeout": 15000
    },
    "notebooklm": {
      "type": "local",
      "command": ["npx", "-y", "notebooklm-mcp@latest"],
      "enabled": true
    },
    "browseros-neo": {
      "type": "remote",
      "url": "http://127.0.0.1:9011/mcp",
      "oauth": false,
      "codemode": false
    },
    "playwright": {
      "type": "local",
      "command": ["npx", "-y", "@playwright/mcp@latest"],
      "enabled": true
    }
  },
  "instructions": [
    "{{ .chezmoi.homeDir }}/.config/opencode/global-instructions.md"
  ]
}
