.docker/*/.env
docs/
{{ if eq .chezmoi.hostname "DESKTOP-17L7TR0" }}
.config/konsave/
.config/btop/btop.conf
.config/btop/btop.log
{{ end }}
{{ if eq .chezmoi.os "windows" }}
.zshrc
.zshenv
.tmux.conf
.tmux/
.glzr/
.config/nvim-custom/nvim/lua/user
{{ else }}
AppData/
{{ end }}
