.docker/*/.env
docs/
{{ if eq .chezmoi.hostname "DESKTOP-17L7TR0" }}
.config/konsave/
.config/btop/btop.conf
.config/btop/btop.log
{{ end }}
{{ if eq .chezmoi.os "windows" }}
.zshrc
.zshenv
.tmux.conf
.tmux/
.glzr/
.config/nvim-custom/nvim/lua/user
{{ else }}
AppData/
{{ end }}
{{ if or (ne .chezmoi.os "linux") (not (contains "microsoft" (lower .chezmoi.kernel.osrelease))) }}
.config/systemd/user/browser-harness-cdp-relay.service
{{ end }}
{{ if not (or (eq .chezmoi.hostname "jkondratenko") (and (eq .chezmoi.os "linux") (contains "microsoft" (lower .chezmoi.kernel.osrelease)))) }}
.config/chromium-browser/
{{ end }}
